.delUpload {
	float: left;
	margin-right: 10px;
}
.delUpload:hover {
	cursor: pointer;
}
#uploadImage ul {
	margin: 0;
	padding: 0;	
}
#uploadImage ul li {
	list-style: none;
	margin: 0;
	padding: 0;	
	float: left;
	width: 100%;
}
