.left-content #searchBox {
	width: 100%;
}
.delUpload {
	float: left;
	margin-right: 10px;
}
.delUpload:hover {
	cursor: pointer;
}
#uploadImage ul {
	margin: 0;
	padding: 0;	
}
#uploadImage ul li {
	list-style: none;
	margin: 0;
	padding: 0;	
	float: left;
	width: 100%;
}
.searchResult {
	float: left;
	width: 100%;
	margin-top: 20px;	
}
.seachHeading {
	color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 14px;
    float: left;
}
.resultList {
	float: left;
	width: 100%;
	line-height: 18px;
}
.resultList ul {
	padding: 0;
	color: #666666;
}
.resultList ul li {
	list-style: none;
	margin-bottom: 10px;
	float: left;
	background: url("../images/separator.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.price {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	color: red !important;
}
.itemTitle {
	color: #000000;
}
.resultList ul li:last-child {
	zbackground: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.resultList ul li > div {
	margin-right: 20px;
}
.resultList ul li .button {
	margin-bottom: 30px;
}
.resultList .info {
	color: #666;
}

.imageContainer {
	width: 300px;
	height: 300px;
	border: 1px solid #E7E7E7;
	float: left;
}

.imageList {
	width: 100%;
	float: left;
	margin: 20px 0;	
}
.imageList ul {
	margin: 0px;
	padding: 0;
}
.imageList ul li {
	float: left;
	list-style: none;
	margin: 0px 10px 0px 0px;
}
.imageList ul li img:hover {
	cursor: pointer;
}
.image {
	float: left;
}
.detail {
	float: left;
	width: 415px;
	margin-left: 20px;
}
.detail h2 {
	margin: 0;
}
.infoDetail {
	clear: both;
	margin: 0;
}
#similar {
	float: left;
}
#similar ul {
	
}
#similar ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 10px;
	min-width: 90px;
	min-height: 100px;
}
.next, .prev {
	float: left;
	margin-top: 30px;
}

#catList ul {
	margin: 0;
	padding: 0;
}
#catList ul li {
	float: left;
	list-style: none;
	border-right: 1px solid #B0B0B0;
	padding: 2px 10px;
}
#catList ul li:first-child {
	padding: 2px 10px 2px 0 !important;
}
#catList ul li:last-child {
	border-right: none;
}
#breadcrum {
	float: left;
	width: 100%;	
}
#breadcrum ul {
	margin: 0;
	padding: 0 0 30px 0;
}
#breadcrum ul li {
	float: left;
	list-style: none;
	margin-right: 8px;
}
li.arrow {
	background: url("../images/sprites.png") no-repeat scroll -7px -1320px rgba(0, 0, 0, 0);
	width: 10px;
	height: 20px;
}
.productName {
	font-size: 16px;
}
.productInfo {
	float: left;
    padding: 10px;
}

.productInfo label {
	font-weight: bold;
}