.delUpload {
	float: left;
	margin-right: 10px;
}
.delUpload:hover {
	cursor: pointer;
}
#uploadImage ul {
	margin: 0;
	padding: 0;	
}
#uploadImage ul li {
	list-style: none;
	margin: 0;
	padding: 0;	
	float: left;
	width: 100%;
}
.searchResult {
	float: left;
	width: 100%;
	margin-top: 20px;	
}
.seachHeading {
	color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 14px;
    float: left;
}
.resultList {
	float: left;
	width: 100%;
	line-height: 18px;
}
.resultList ul {
	padding: 0;
	color: #666666;
}
.resultList ul li {
	list-style: none;
	width: 580px;
	margin-bottom: 10px;
    padding-bottom: 10px;
	float: left;
	background: url("../images/separator.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.resultList ul li:last-child {
	zbackground: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.resultList ul li > div {
	margin-right: 20px;
}
.resultList ul li .button {
	margin-bottom: 30px;
}
.resultList .info {
	color: #666;
}

.imageContainer {
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	float: left;
}

.imageList {
	width: 100px;
	float: left;	
}
.imageList ul {
	margin: 0px 10px;
	padding: 0;
}
.imageList ul li {
	float: left;
	list-style: none;
	margin: 0px 0px 8px 0px;
}
.imageList ul li img:hover {
	cursor: pointer;
}
.detail {
	float: left;
	width: 450px;
}
.description {
	float: left;
	
}
#similar {
	float: left;
}
#similar ul {
	
}
#similar ul li {
	float: left;
	list-style: none;
	margin: 5px;
}
.next, .prev {
	float: left;
	margin-top: 30px;
}