.right-content {
	width: 260px;
	margin-left: 20px;
}
.right-ads {
    float: left;
    height: 250px;
    margin-bottom: 20px;
    padding-top: 40px;
    width: 260px;
    text-align: center;
    font-size: 22px;
    color: #808080;
}